﻿@model AGLCodeChallenge.Models.IndexModel
@{
    ViewBag.Title = "Sorted Cat Names by Owner Gender";
}

<h1>Sorted Cat Names by Owner Gender</h1>

@foreach (var sortedCats in Model.GenderSortedPets)
{
    <p style="font-weight: bold">@sortedCats.PersonGender</p>

    <ul>
        @foreach (var petName in sortedCats.PetNames)
        { 
            <li>@petName</li>
        }
    </ul>
}

